<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
  <title>Present Times</title>
    
</head>
<style>
    . {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    section {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        background: #fff38e;
    }

    .container {
        position: relative;
        min-width: 1100px;
        min-height: 530px;
        z-index: 1000;
        background: #095a55;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .main {
        margin-left: 100px;
        margin-top: 100px;
    }

    .container .contactForm {
        background-color: #fff;
        position: absolute;
        
        margin: 77px 290px;
        {{!-- margin-top: 39px;
        margin-left: 40px; --}}
        width: 500px;
        height: 500px;
        
    }

    .container .contactForm h2 {
        color: #0f3959;
        font-size: 24px;
        font-weight: 500;
        margin-top: 100px;
        margin-left: 60px;
        
    }

    .formBox {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
        margin-left: 60px;
    }

    .inputBox {
        position: relative;
        margin-bottom: 30px;
        
    }

    .w50 {
        width: 70%;
    }

    .w100 {
        width: 100%;
    }

    .inputBox input {
        width: 50%;
        resize: none;
        padding: 5px 0;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        border: none;
        outline: none;
        border-bottom: 1px solid #777;
    }

    .inputBox span {
        position: absolute;
        left: 0;
        padding: 5px 0;
        pointer-events: none;
        font-size: 18px;
        font-weight: 300;
        transition: 0.3s;
    }

    .inputBox input:focus~span,
    .inputBox input:valid~span {
        transform: translateY(-20px);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #095a55;
        font-weight: 500;
    }

    .inputBox input[type="submit"] {
        position: relative;
        cursor: pointer;
        background: #095a55;
        color: #fff;
        border: none;
        max-width: 150px;
        padding: 12px;
    }

    .inputBox input[type="submit"]:hover {
        background: #0d948b;
    }

    @media(max-width : 1600px) {
        .container {
            height: 655px;
        }
    }

    @media(max-width : 1200px) {

        .container {
            position: relative;
            min-width: 800px;
            min-height: 1200px;
            z-index: 1000;
            background: #095a55;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
        }
    }

    @media(max-width : 650px) {
        .container {
            position: relative;
            min-width: 500px;
            min-height: 900px;
            z-index: 1000;
            background: #095a55;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
        }

        .contactForm {
            background-color: #fff;
            max-width: 427px;
            min-height: 827px;
        }

        .formBox {
            display: block;
        }

        .inputBox input {
            width: 100%;
        }

        .inputBox span {
            font-size: 15px;
        }
    }
</style>

<body>
{{>navbar}}
    <section>
        <div class="container">
            <div class="contactForm">
                <div class="main">
                    <h2 style="font-weight: bold;">Weather</h2>
                    <form action="/weather" id="register" method="post">
                        <div class="formBox">
                            <div class="inputBox w50">
                                <input type="text" required name="city">
                                <span>Your City</span>
                
                            <div class="info">
                                {{#if data}}
                                <h3 class="location">{{data.name}},{{data.sys.country}}</h3>
                                {{!-- <p id="date">WED | OCT23 | 10:49PM</p> --}}
                                <h1 class="temp">{{data.main.temp}}&degC</h1>
                                <h3 class="tempmin_max">Min {{data.main.temp_min}}&degC | Max {{data.main.temp_max}}&degC</h3>
                                {{else}}
                                <h1>No data found.</h1>
                                {{/if}}
                            </div>
                            <div class="inputBox w100">
                        <input type="submit" value="Search" name="Register" id="submit">
                        </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{{>footer}}
</body>
</html>